<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scenarios</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/editor.css') }}">
</head>

<body>
    <nav class="editor-header navbar navbar-expand-lg navbar-light px-5 py-2">
        <a class="navbar-brand" href="#">Logo or something</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>

    <div class="py-4 px-3 w-100">
        <div class="d-flex justify-content-between col-12">
            <div class="col-6 d-flex justify-content-start">
                <h2>Scenarios</h2>
                <a class="ms-4 btn btn-primary px-4 rounded-pill" href="http://localhost:5137/scenario_configuration.html">Add</a>
            </div>
            <select class="w-25 form-select" id="level-selection">
                <option>Level 1</option>
                <option>Level 2</option>
                <option>Level 3</option>
                <option>Level 4</option>
                <option>Level 5</option>
            </select>
        </div>
        {% if scenarios %}
        <div id="scenarios" class="d-flex justify-content-center flex-wrap mt-4 mx-4">
            {% for scenario in scenarios %}
            <div class="card col-md-3">
                <div class="card-body">
                    <h5 class="card-title">Scenario: {{ scenario._id }}</h5>
                    <p class="card-text">{{ scenario._description }}</p>
                    <a href="/scenario/scenario_configuration?id={{ scenario._id }}" class="btn btn-primary">Edit</a>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <p class="col-12 lead w-100 text-center mt-5">———— &nbsp;&nbsp; No scenarios available &nbsp;&nbsp; ————</p>
        {% endif %}

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
</body>

</html>