.editor-html,
.editor-body {
    min-height: 100vh;
    margin: 0;
    background-color: #F6F6F5;
}

.editor-header {
    z-index: 999;
    transition: opacity 0.3s ease, transform 0.3s ease;
    opacity: 1;
    transform: translateY(0);
    position: sticky;
    top: 0;
    background-color: #F6E0C8;
}

.editor-header.hidden {
    opacity: 0;
    transform: translateY(-20px);
}

.btn:hover, .btn:focus, .btn:active {
    color: #c48848;
    background-color: #f5f4f4;
}

.btn-primary {
    color: #4C4C4C;
    background-color: #F6E9DB;
    border-color: #F6E9DB;
}

.btn-primary:hover {
    color: #FFFFFF;
    background-color: #dbc8b0;
    border-color: #dbc8b0;
}

.btn-primary:focus,
.btn-primary:active {
    color: #FFFFFF;
    background-color: #d2bfa9;
    border-color: #d2bfa9;
}

.btn-sc-level {
    color: #292929;
    background-color: #F2E8DE;
    border-color: #F2E8DE;
}

.btn-sc-level {
    color: #292929;
    background-color: #F2E8DE;
    border-color: #F2E8DE;
}

.tabIsActive {
    color: #FFFFFF !important;
    background-color: #d2bfa9 !important;
    border-color: #d2bfa9;
}

.tabNotActive {
    color: #FFFFFF !important;
    background-color: #d2bfa9 !important;
    border-color: #d2bfa9;
}

.btn:focus,
.btn:active {
    outline: none !important;
    box-shadow: none;
}

.btn-conf-character {
    margin-left: 0 !important;
}

.btn-conf-character:hover,
.btn-conf-character:focus,
.form-group .btn-conf-character:active {
    outline: none !important;
    box-shadow: none;
}

@media (min-width: 768px) {
    .col-md-9 {
        flex: 0 0 auto;
        width: 75% !important;
    }
}

@media (min-width: 1200px) {
    .textfield {
        flex: 1;
    }
}

.form-control {
    border: none;
    background-color: #f0f1f3;
}
